@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto&display=swap');

body {
    background-image: url(../../static/images/background.png);
    background-size: cover;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}

#nav-list li a {
    font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo Tammudu 2', 'Roboto';
}

/* navbar */
nav,
.collapsible {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}

nav .brand-logo,
nav .brand-logo i {
    font-size: 2rem;
    float: none;
    margin: 0;
}

nav .brand-logo {
    margin-left: 10px;
}

.nav-wrapper.scrolled {
    font-family: 'Baloo Tammudu 2', 'Roboto';
    background-color: #193954ba;
    transition: background-color 200ms linear;
}

.location-name {
    font-size: 20px;
}

.landing-page {
    padding: 100px;
}

.search-field {
    position: relative;
}

.search-field label i {
    color: black;
    position: absolute;
    right: 30px;
    top: 10px;
}

.search-field label i:focus {
    color: red;
}

#search {
    background-color: white;
    border-radius: 15px;
    height: 40px;
    width: 255px;
    margin: 10px;
}

.input-field {
    display: inline-block;
}

.input-field button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    border-radius: 0 15px 15px 0;
    margin: 10px;
    padding: 0;
}

@media screen and (max-width: 800px) {

    nav .brand-logo,
    nav .brand-logo i {
        font-size: 1.3rem;
    }

    #camp-logo .fa-campground {
        font-size: 1.8rem;
    }

    .add-edit-title h4 {
        font-size: 1.7rem;
        margin-bottom: 0;
    }
}

/* Homepage */
.splash-page {
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    min-height: 400px;
    text-align: center;
}

.splash-page h3 {
    border-radius: 15px;
    color: #193954;
    font-family: 'Baloo Tammudu 2', 'Roboto'
}

#splash-page .fa-campground:before {
    color: #193954;
    font-size: 1.7rem;
}

#splash-page .btn {
    border-radius: 15px;
    font-size: 1.4em;
    width: 170px;
}

.input-field input {
    background-color: white;
}

#splash-page .place-card {
    margin: 15px;
}

.row .place-card {
    color: black;
    background-color: white;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 15px;
    margin: 5px;
    align-items: center;
    position: relative;
    border: 1px solid black;
    max-height: 314px;
}

.description-ellipsis {
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.locations-row .col {
    padding: 0;
}

.campsite-description {
    color: black;
}

.location-title {
    font-size: 20px;
    font-family: 'Baloo Tammudu 2', 'Roboto'
}

.campsite-pic img {
    height: 122px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
}

.campsite-pic-upload img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
}

.topspots .top-spot-item-card .col {
    height: 400px;
    width: 300px;
}

.top-spot-item-card img {
    height: 122px;
}

.view-more {
    margin: 5px;
    border-radius: 15px;
}


@media screen and (max-width: 800px) {
    #search {
        background-color: white;
        border-radius: 15px;
        height: 40px;
        width: 78%;
        position: relative;
        margin: 10px;
    }

    .input-container {
        position: relative;
    }

    #splash-page .btn {
        margin-bottom: 0;
    }

    #splash-page h3 {
        font-size: 2.1rem;
        ;
    }

    #splash-page {
        padding: 10px;
    }
}

/* Profile page */
.user-bio {
    height: 180px;
}

.counter-value {
    text-align: center;
    margin: 10px;
    font-size: 1.4em
}

#placeholder {
    height: 150px;
    width: 150px;
    position: relative;
}

.no-content-banner h6 {
    background-color: #193954c9;
    border-radius: 15px;
    padding: 20px;
}

.no-content-banner a {
    color: white;
}

.empty-profile {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    display: inline-block;
}

.fa-camera-retro {
    font-size: 30px;
    margin: auto;
}

.profile-header span {
    font-size: 30px;
}

.profile-posts .place-card {
    height: 300px;
}

#user_profile {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

#user_profile h5 {
    color: #193954;
}

#user_profile .custom-file-upload {
    position: absolute;
    bottom: 2px;
    right: 19px;
    background-color: #00000061;
    border-radius: 15px;
}

.fa-edit {
    font-size: 30px;
    color: black;
}


.profile-posts-header {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-stats {
    font-size: 16px;
}

.fa-plus-square:before {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    #placeholder {
        width: 100%;

    }

    #user_profile {
        padding: 20px;
    }
}


/* Login page */
.card-panel {
    width: 600px;
    border-radius: 15px;
    margin: auto;
}

.input-field .prefix~input {
    border-radius: 15px;
    padding-left: 10px;
}

.input-field input {
    background-color: #e8f0fe !important;
    width: 300px;
}

.orange.darken-4 {
    border-radius: 15px;
    width: 200px;
}

#login-signup {
    width: 600px
}

#login-btn {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

@media screen and (max-width: 300px) {
    #login-signup {
        width: 200px
    }
}

/* Edit-profile page */
.edit-profile-inputs {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    color: black;
    margin-top: 20px;
}

.profile-pic-upload img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#bio,
.bio {
    height: 180px;
    border: 1px solid black;
}

/* Add-location page */
.fa-star:before {
    color: #ff8e3d;
}

.add-edit-title {
    text-align: center;
}

/* Code used for star rating got from  
https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 50px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

#location_description {
    height: 200px;
    background-color: white;
    border-radius: 15px;
}

#location_name {
    background-color: white;
    border-radius: 15px;
}

.waves-effect {
    border-radius: 15px;
    margin-top: 10px;
}

#forms-container {
    background-color: #26485d;
    padding: 10px;
    min-height: 800px;
    max-width: 800px;
    border-radius: 15px;
    position: relative;
    margin: 20px 0;
}

.forms-container .col {
    margin: 0;
    padding: 0;
}

#forms-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    float: left;
}

#forms-container .btn {
    border-radius: 15px;
}

#upload .btn {
    background-color: #ff8282;
    margin-left: 40px;
}


new-file-upload {
    border: 1px solid #ccc;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 20px;
}


.flashes h4 {
    line-height: 2;
    font-family: 'Baloo Tammudu 2', 'Roboto';

}

.add_location_inputs button {
    margin: 20px;
    border-radius: 15px;
    position: absolute;
    bottom: 5px;
    right: 9px;
}

.add_location_inputs textarea {
    padding: 10px;
}

#map {
    height: 400px;
    margin: 1px;
    border-radius: 15px;
}

.select-map-area {
    border-radius: 15px;
    text-align: left;
}


.select-map-area input {
    display: inline;
    color: white;
    border-radius: 15px;
}

#pac-input {
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    width: 95%;
}

#lat,
#lng {
    max-width: 350px;
    color: white;
}

@media screen and (min-width: 900px) {
    #forms-container h5 {
        font-size: 1.4rem;
    }

    #pac-input {
        left: 0;
    }
}


/* Locations result page */
.locations {
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.search-results .col {
    margin: 0;
    padding: 0;
}

.search_count img {
    height: 144px;
}

.search-results-map #map {
    height: calc(100vh - 100px);
    border-radius: 15px;
    margin-top: 5px;
}


.search-results-map .col {
    margin: 0;
    padding: 0;
}

.input-field input[type=search] {
    padding-left: 4rem;
}

.index-map-section #map {
    height: 300px;
    border-radius: 15px;
}

.top-spot-heading {
    background-color: #193954c9;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    font-family: 'Baloo Tammudu 2', 'Roboto'
}


.top-spot-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #193954c9;
    border-radius: 0 0 15px 15px;
    padding: 22px;
    margin-bottom: 20px;
}

.like-count {
    position: absolute;
    color: #888;
    font-size: 1.1em;
    right: 55px;
    bottom: 13px;
}


.like-button-disabled {
    color: #acacac;
    cursor: default;
    font-size: 30px;
    align-self: center;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 21px;
    bottom: -2px;
}

.liked-button {
    color: #e2264d;
    font-size: 30px;
    align-self: center;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    right: 21px;
    bottom: 7px;
}


.like-button {
    align-self: center;
    position: absolute;
    color: #888;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    right: 21px;
    bottom: 7px;
}


/* https://stackoverflow.com/questions/572768/styling-an-input-type-file-button/25825731#25825731 */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    position: absolute;
    color: white;
    bottom: 20px;
    right: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.edit-location-button .fa-edit {
    align-self: center;
    position: absolute;
    color: #888;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    right: 58px;
    bottom: 16px;
}

.delete-button .fa-trash-alt {
    align-self: center;
    position: absolute;
    color: #888;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    right: 100px;
    bottom: 15px;
}

.locations {
    border-radius: 20px;
}

.locations-row h4 {
    margin-top: 70px;
}

.locations-row h6 {
    margin: 30px;
}

#upload {
    white-space: nowrap;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0 20px 0;
}

.info-window {
    color: black;
    width: 150px;
}

.info-window .campsite-pic img {
    height: 60px;
    margin-top: 2px;
}

.location-view {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.location-view #map {
    height: 300px;
}

.location-view img {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.location-description {
    margin-bottom: 20px;
}

.location-view .search-results-map {
    height: 300px;
}

@media screen and (min-width: 992px) {
    .hiding-search {
        display: none;
    }
}

.help-message {
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-top: 40px;
    padding: 40px;
}

@media screen and (max-width: 600px) {
    #pac-input {
        margin: 7px;
    }

    #upload {
        margin: 20px 0 54px 0
    }

    .location-view {
        padding: 13px;
    }

}