body {
    background-image: url(../../static/images/background3.png);
    background-size: cover;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}

nav,
.collapsible {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}

.nav-wrapper {
    margin: 5px;
}

#map{
    height: calc(100vh - 100px);
    padding:0px;
    margin:0px;
}

.location_name {
    font-size: 20px;
}

.landing-page {
    padding: 100px;
}

#search {
    background-color: white;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    margin: 10px
}

.input-field {
    display: inline-block;
    position: relative;
   
}

.input-field button {
    position:absolute;
    right:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    border-radius: 0 15px 15px 0;
    margin: 10px;
    padding: 0;
}



.splash-page {
    background-color: rgba(255, 255, 255, 0.753) ;
    color: black;
    padding:40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    min-height: 400px;
}

.splash-page h4 {
    background-color: rgb(9, 6, 65);
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    text-align: center;
    color: white;
}


.row .place_card{
    color: black;
    background-color: white;
    padding: 14px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 0;
    margin-right: 20px;
    align-items: center;
    width: 95%;
    position:relative;
    border: 1px solid black;
    box-shadow: 10px 8px 6px -6px black;
}

.place_card img {
    height: 150px;
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 15px;
}

.topspots .top-spot-item-card .col{
    height: 400px;
    width: 300px;
}

.user_bio {
    height: 180px;
}

.empty_profile {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    display: inline-block;   
}

.fa-camera-retro {
    font-size: 30px; 
    margin:auto;
}

.profile_header span{
    font-size: 30px;  
}

.user_profile .profile_card {
    background-color: white;
    color: black;
    padding: 30px;
}

.fa-edit {
    font-size: 30px;  
    color:black;
}



/* Edit_profile page */

.edit_profile_inputs {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    color: black;
}

.profile_picture {
    height: 100px;
    width: 100px;
    overflow:hidden;
    position: relative;
}

.profile_picture img{
    height:100%;
}

.profile_picture i {
    position:absolute;
    bottom: 5px;
    right: 5px;
    color:white;
    font-size: 20px;

}

#bio, .bio{
    height: 180px;
    border: 1px solid black;
}


/* Add_location page */

.fa-star:before {
    color: #ff8e3d;
}

/* Code used for star rating got from  
https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 50px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

#location_description {
    height: 200px;
    background-color: white;
    border-radius: 15px;
}

#location_name {
    background-color: white;
    border-radius: 15px;

}

.add_location_inputs {
    background-color: #26485d;
    padding: 20px;
    min-height: 800px;
    border-radius: 15px;
}

.flashes h4 {
    line-height: 2;
}

.add_location_inputs button {
    margin: 20px;
    border-radius: 15px;
}

#add_location_map {
    height: 400px;
    margin: 1px;
    border-radius: 15px;
}

.select-map-area {
    border-radius: 15px;

}


.select-map-area input {
    display: inline;
    color: white;
    border-radius: 15px;
}

/* Locations result page */

.locations {
    overflow-y: scroll;
    height: calc(100vh - 100px);

}

.search-results .col {
    margin: 0;
    padding: 0; 
}

.search-results-map{
    min-height: calc(100vh - 260px);
}

.search-results-map .col{
    margin: 0;
    padding: 0; 
}



.index-map-section #map {
    height: 300px;
    border-radius: 15px;
}

.like-button {
    align-self: center;
    position: absolute;
    color: #888;
    font-size: 1.4em;
    filter: grayscale(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    right: 10px;
    bottom: 2px;
}

.liked-button {
    color: #e2264d;
}