body {
    background-image: url(../../static/images/background.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    color: white;
}

nav,
.collapsible {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}


#map {
    height: 400px;
    z-index: 10;
}

#search {
    background-color: white;
}

.person_card,
.place_card {
    color: black;
    background-color: white;
    padding: 20px;
}

.user_profile h2 {
    background-color: #0000008c;
    padding: 20px;
}

.fa-star:before {
    color: #ff8e3d;
}


/* Add_location page */
 /* https://css-tricks.com/star-ratings/ */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    font-size: 48px;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.2em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}

#textarea2 {
    height: 200px;
    background-color: white;
}

.add_location_inputs{
    background-color: #26485d;
    padding:20px;
}