<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" class="css" type="text/css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% block styles %}
    {% endblock %}
    <title>Wild Camping</title>
</head>

<body>

    <header>
        <!-- main nav bar -->
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('home_page')}}" class="brand-logo">WildCamping</a>

                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                
                <ul class="right hide-on-med-and-down">
                    <!-- Display search bar in header if on locations.html for more space -->
                    {% if url_for(request.endpoint)==url_for("get_locations") %} 
                    <li>
                        <div class="center row">
                            <div class="col s12 ">
                                <div class="row" id="topbarsearch">
                                    <div class="searchBar">
                                        <form role="form" method='POST' action="{{url_for('get_locations')}}">
                                            <div class="input-field col s6 s12">
                                                <input id="search" type="search" name="search"
                                                    placeholder="Search locations" required>
                                                <label class="label-icon" for="search"><i class="material-icons">
                                                    </i></label><button type="submit" class="btn btn-default"
                                                    alt="search button"><i class="fas fa-binoculars"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li><a href="{{url_for('home_page')}}">Home</a></li>
                    <li><a href="{{url_for('get_locations')}}">Locations</a></li>
                    <li><a href="{{url_for('coordinates')}}">C</a></li>
                    {% if session.user %}
                    <li><a href="{{url_for('profile_page', username=session['user'])}}">Profile</a></li>
                    <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
                    <li><a href="{{url_for('user_location')}}">Add Location</a></li>
                    <li><a href="{{url_for('logout')}}">Log Out</a></li>

                    {% else %}
                    <li><a href="{{url_for('login')}}">Log In</a></li>
                    <li><a href="{{url_for('signup')}}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile nav bar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home_page')}}">Home</a></li>
            <li><a href="{{url_for('get_locations')}}">Locations</a></li>
            {% if session.user %}
            <li><a href="{{url_for('profile_page', username=session['user'])}}">Profile</a></li>
            <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
            <li><a href="{{url_for('user_location')}}">Add Location</a></li>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
            {% else %}
            <li><a href="{{url_for('login')}}">Log In</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align"> {{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith%}
    </section>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    {% block scripts %}
    {% endblock %}
</body>

</html>