{% extends "base.html" %}

{% block styles %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% endblock %}


{% block content %}
<div class=" container">
    <section class="splash-page row" id="splash-page">
        <div class="col l6 s12">
            <h3>Find and Share the Best Camping Locations</h3>
                <div class="center-align ">
                    <!-- search bar -->
                    <div class="searchBar">
                        <form role="form" method='POST' action="{{url_for('get_locations')}}">
                            <div class="input-field">
                                <input id="search" type="search" name="search" required>
                                <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <div class="col l6 s12 card-container">
            {% for record in random_location%}
                <div class="card place-card center">
                    <!-- Card Image -->
                    <a href="{{ url_for('view_location', location_id=record._id )}}">
                    <div class="campsite-pic">
                        <img src="{{record.file}}" alt="item image" class="card-image">
                    </div>
                    <div class="campsite-description">
                        <p class="description-ellipsis">{{ record.description}}</p>
                        <p><strong>Rating: </strong>
                            {% for x in range(0, record.rating | int) %}
                            <span class="fa fa-star checked"></span>
                            {% endfor %}</p>
                    </div>
                </a>
                  
                </div>
                {% endfor %}
        </div>
    </section>
    <section class="index-map-section center-align row ">
        <h3 class="center-align top-spot-heading">Top Spots <i class="fas fa-fire-alt"></i></h3>
        <div class="col s12 m12 l12" id="map" onload="searchResultMap()"></div>
        <div id="search-coordinates" style="display: none">
            { "coordinates":[
            {% for location in locations %}
            { "lat": {{location.location.coordinates[1]}},
              "lng": {{location.location.coordinates[0]}},
              "description": "{{location.description}}",
              "file": "{{location.file}}",
              "name": "{{location.name}}" },{% endfor %}]}
        </div>
    </section>
    <!-- I used the like button idea from this template to help me create my own one
    https://github.com/LigaMoon/swap-clothes-app/blob/main/templates/index.html -->
    <section class="topspots" id="topspots">
        <!-- use .rewind() to allow locations cursor be used again for second loop -->
        <div style="display: none">{{ locations.rewind() }}
        </div>
        <!-- Campsite display cards -->
        <div class="row locations-row">
            {% for location in locations %}
            <div class="col s12 m6 l4 top-spot-item-card">
                <a href="{{ url_for('view_location', location_id=location._id )}}">
                    <div class="place-card center">

                        <!-- Card Image -->
                        <div class="campsite-pic">
                            <img src="{{ location.file }}" alt="item image" class="card-image">
                        </div>
                        <div class="campsite-description">
                            <span class="location-title">{{ location.name }}</span>
                            <p class="description-ellipsis">{{ location.description}}</p>
                            <p><strong>Rating: </strong>
                                {% for x in range(0, location.rating | int) %}
                                <span class="fa fa-star checked"></span>
                                {% endfor %}</p>
                        </div>
                        <!-- If user is logged in and has liked the item  -->
                        {% if session.user in location.liked_by %}
                        <a href="{{ url_for('likes', location_id=location._id, action='unlike') }}" class="like-button">
                            <span class="liked-button">&#10084;</span></a>
                        <!-- If user is logged in and hasn't liked the item -->
                        {% elif session.user %}
                        <a href="{{  url_for('likes', location_id=location._id, action='like') }}" class="like-button">
                            <span class="like-button">&#10084;</span></a>
                        <!-- If user hasn't logged in -->
                        {% else %}
                        <a class="like-button tooltipped" data-position="top"
                            data-tooltip="Sign In or Sign Up to like an item">
                            <span class="like-button-disabled">&#10084;</span></a>
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="top-spot-footer">
        <a href="{{ url_for('get_locations')}}">
            <div class="btn view-more center center-align">View more</div></a>
        </div>
    </section>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ location_api }}" async>
</script>

{% endblock %}
