{% extends "base.html" %}

{% block styles %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% endblock %}


{% block content %}
<div class=" container">
    <div class="row">
        <div class="center-align ">
            <!-- search bar -->
            <h1><i class="fas fa-campground"></i></h1>
            <div class="searchBar">
                <form role="form" method='POST' action="{{url_for('get_locations')}}">
                    <div class="input-field">
                        <input id="search" type="search" name="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="splash-page row">
        <div class="col l6 s12">
        <h3>Find and Share the Best Camping Locations</h3>
        <a href="#topspots"><h4>Explore!</h4></a>
    </div>
    </section>

    <section class="map-section center-align row ">
        <h2 class="center-align">Top Spots <i class="fas fa-fire-alt"></i></h2>
      <div class="col s12 m12 l12" id="map" onload="initMap()"></div>
    </section>
    <!-- I used the like button idea from this template to help me create my own one
    https://github.com/LigaMoon/swap-clothes-app/blob/main/templates/index.html -->
    <section class="topspots" id="topspots">
        <!-- Campsite display cards -->
        <div class="row">
            {% for location in locations %}
            <div class="col s12 m6 l4 top-spot-item-card">
                <div class="place_card center">
                    <!-- Card Image -->
                    <div class="campsite-pic">
                        <img src="{{ location.file }}" alt="item image" class="card-image">
                    </div>
                    <div class="campsite-description">
                        <span class="location-title">{{ location.name }}</span>
                        <p class="location_longlat"> {{ location.location.coordinates }}</p>
                        <p>Description: {{ location.description}}</p>
                        <p><strong>Rating: </strong>
                            {% for x in range(1, location.rating | int) %}
                            <span class="fa fa-star checked"></span>
                            {% endfor %}</p>
                    </div>
                     <!-- If user is logged in and has liked the item  -->
                     {% if session.user in location.liked_by %}
                     <a href="{{ url_for('likes', location_id=location._id, action='unlike') }}" class="like-button">
                         <span class="liked-button ">❤</span></a>
                     <!-- If user is logged in and hasn't liked the item -->
                     {% elif session.user %}
                     <a href="{{  url_for('likes', location_id=location._id, action='like') }}" class="like-button">
                         <span class="like-button">❤</span></a>
                     <!-- If user hasn't logged in -->
                     {% else %}
                     <a class="like-button tooltipped" data-position="top"
                         data-tooltip="Sign In or Sign Up to like an item">
                         <span class="like-button-disabled">❤</span></a>
                     {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    {% endblock %}

    {% block scripts %}

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxdWmLSSJTX3YKlDFZgrvzP5INfBoO1dI&callback=initMap&libraries=&v=weekly"
        async>
    </script>

    {% endblock %}