{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<div>
    <div class="row search-results">
        <div class="col s12 l6">
            <!-- map window -->
            <div class="center-align search-results-map">
                <div id="map" onload="searchResultMap()"></div>
            </div>

            <!-- pass coordinates from python to script in order to draw map from pymongo query -->
            <div id="search-coordinates" style="display: none">
                { "coordinates":[ 
                    {% for location in nearpoints %} 
                    {   "lat": {{location.location.coordinates[1]}}, 
                        "lng": {{location.location.coordinates[0]}} },{% endfor %}]}
            </div>
        </div>
        <div class="col m12 l6">
            <!-- database output -->
            <div class="loopcounter"></div>
            <div class="locations">
                <!-- use .rewind() to all me to use nearpoints cursor again for second loop -->
                <div style="display: none">{{ nearpoints.rewind() }}
                </div>
                {% for record in nearpoints %}
               
                    {{ loop.index }}
                <div class="row place_card">
                    <div class="col s6">
                        <div class="location_name">Name: {{ record.name.capitalize() }}</div><br>
                        <div class="location_longlat"> Longitude: {{ record.location.coordinates[0] }}<br>
                            Latitude: {{record.location.coordinates[1] }}</div>
                        <br>
                        <strong>Rating: </strong>
                        {% for x in range(1, record.rating | int) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        <br><br>
                        Description: {{ record.description.capitalize() }}<br>
                        <br>
                        Posted by: {{ record.posted_by.capitalize()}}<br>
                    </div>
                    <!-- "Like button" code found on 
                    https://css-tricks.com/recreating-the-twitter-heart-animation/ -->
                    <div class="like-button">
                        <input class="toggle-heart" id="{{record._id}}" name="toggle-heart" type="checkbox" onclick="likeMe(this.id)" />
                        <label for="{{record._id}}">❤</label>
                    </div>
                    <div class="col s6"><img src="{{record.file}}" alt=""></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block scripts %}
   <script
        src="{{ location_api }}"
        async>
    
    </script>
{% endblock %}