{% extends "base.html" %}

{% block styles %}

{% endblock %}


{% block content %}
<div>
    <div class="row">
        <div class="center-align">
            <!-- search bar -->
            <h1><i class="fas fa-campground"></i></h1>
            <div class="searchBar">
                <form role="form" method='POST' action="{{url_for('get_locations')}}">
                    <div class="input-field">
                        <input id="search" type="search" name="search" placeholder="Search locations" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    </div>
                    <button type="submit" class="btn btn-default" alt="search button"><i class="fas fa-binoculars"></i></button>
                </form>
            </div>
        </div>
    </div>
 
    <div class="row search-results">
        <div class="col s12 l6">
            <!-- map window -->
            <div class="center-align search-results-map">
                <div id="map" onload="initMap()"></div>
            </div>
        </div>
        <div class="col m12 l6">
            <!-- database output -->
            <div class="loopcounter"></div>
            <div class="locations">
                {% for record in nearpoints %}
                <div class="row place_card">
                    <div class="col s6">
                        <div class="location_name">Name: {{ record.name.capitalize() }}</div><br>
                        <div class="location_longlat"> Longitude: {{ record.location.coordinates[0] }}<br>
                            Latitude: {{record.location.coordinates[1] }}</div>
                        <br>
                        <strong>Rating: </strong>
                        {% for x in range(1, record.rating | int) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        <br><br>
                        Description: {{ record.description.capitalize() }}<br>
                        <br>
                        Posted by: {{ record.posted_by.capitalize()}}<br>
                    </div>
                    <!-- "Like button" code found on 
                    https://css-tricks.com/recreating-the-twitter-heart-animation/ -->
                    <div class="like-button">
                        <input class="toggle-heart" id="{{record._id}}" name="toggle-heart" type="checkbox" onclick="likeMe(this.id)" />
                        <label for="{{record._id}}">❤</label>
                    </div>
                    <div class="col s6"><img src="{{record.file}}" alt=""></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block scripts %}
   <script
        src="{{ location_api }}"
        async>
    </script>

{% endblock %}