{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row edit_profile_inputs">
        <!-- Text input area -->
        <div class="col s12">
            <h4>{{ user.username.capitalize() }}'s Profile </h4>
            <div class="profile-stats">
            {% for num in popularity%}
            <p>Number of time your posts have been liked:  {{ num.sum}} </p>
            <p>Post you've like:  {{my_liked_count}}</p>
            <p>Locations posted:  {{posted_count}}</p>
            {% endfor%}
            </div>
        </div>
    </div>

    <div class="row locations-row">
        <h4>Your Posts</h4>
        <hr>
        {% for location in posted_locations %}
        <a href="{{ url_for('view_location', location_id=location._id )}}">
            <div class="col s12 m6 l4 top-spot-item-card">
            <div class="place-card center">
                <div class="custom-icon-container">
                    <a href="{{ url_for('edit_location', location=location._id) }}" class="edit-location-button">
                      <i class="fas fa-edit"></i></a>
                    <a href="{{ url_for('delete_post', location=location._id) }}" class="delete-button"
                        onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fas fa-trash-alt"></i></a>
                </div>
                <!-- Card Image -->
                <div class="campsite-pic">
                    <img src="{{ location.file }}" alt="item image" class="card-image">
                </div>
                <div class="campsite-description">
                    <span class="location-title">{{ location.name }}</span>
                    <!-- <p class="location_longlat"> {{ location.location.coordinates }}</p> -->
                    <p>Description: {{ location.description}}</p>
                    <p><strong>Rating: </strong>
                        {% for x in range(1, location.rating | int) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}</p>
                </div>
            </div>
        </div>
        </a>
        {% else %}
        <h6>No posts yet! <a href="{{url_for('user_location')}}" alt="add new location">Add one here</a></h6>
        {% endfor %}
    </div>


    <div class="row locations-row">
        <h4>Places you've liked </h4>
        <hr>
        {% for location in liked_locations %}
        <a href="{{ url_for('view_location', location_id=location._id )}}">
            <div class="col s12 m6 l4 top-spot-item-card">
            <div class="place-card center">
                <!-- Card Image -->
                <div class="campsite-pic">
                    <img src="{{ location.file }}" alt="item image" class="card-image">
                </div>
                <div class="campsite-description">
                    <span class="location-title">{{ location.name }}</span>
                    <!-- <p class="location_longlat"> {{ location.location.coordinates }}</p> -->
                    <p>Description: {{ location.description}}</p>
                    <p><strong>Rating: </strong>
                        {% for x in range(1, location.rating | int) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}</p>
                </div>
                <!-- If user is logged in and has liked the item  -->
                {% if session.user in location.liked_by %}
                <a href="{{ url_for('likes', location_id=location._id, action='unlike') }}" class="like-button">
                    <span class="liked-button">&#10084;</span></a>
                <!-- If user is logged in and hasn't liked the item -->
                {% elif session.user %}
                <a href="{{  url_for('likes', location_id=location._id, action='like') }}" class="like-button">
                    <span class="like-button">&#10084;</span></a>
                <!-- If user hasn't logged in -->
                {% else %}
                <a class="like-button tooltipped" data-position="top" data-tooltip="Sign In or Sign Up to like an item">
                    <span class="like-button-disabled">&#10084;</span></a>
                {% endif %}
            </div>
        </div>
        </a>
        {% else %}
        <h6>No likes yet, <a href="{{ url_for('get_locations')}}"> browse </a> some locations and see what tickles your fancy 
        
       </h6>
        
        {% endfor %}
    </div>
</div>

{% endblock%}

{% block scripts %}
<script src="{{user_location_api}}" async>
</script>

{% endblock %}